.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  form {
    width: 50%;
    margin: 0 auto;
  
  }
  html{
   
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq4O4i259eaknTFATIOS0iXhY_gOJvCiqowTwLeR3V5Q&s);
    background-size: cover;
    background-repeat: no-repeat;
}